<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.foodtruck.FoodtruckMapper">
    <resultMap id="foodtruckResultMap" type="kr.co.fos.foodtruck.Foodtruck">
        <result column="NO" property="no" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="BRN" property="brn" />
        <result column="NAME" property="name" />
        <result column="CATEGORY" property="category" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="CONTENT" property="content" />
        <result column="LAT" property="lat" />
        <result column="LNG" property="lng" />
        <result column="APPROVAL" property="approval" />
        <result column="STATUS" property="status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="brn != null and brn != ''">
                AND BRN = #{brn}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="category != null and category != ''">
                AND CATEGORY = #{category}
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(START_TIME, '%H:%i') = DATE_FORMAT(#{startTime}, '%H:%i')
            </if>
            <if test="endTime != null and endTime != ''">
            	AND DATE_FORMAT(END_TIME, '%H:%i') = DATE_FORMAT(#{endTime}, '%H:%i')
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
            <if test="lat > 0">
                AND LAT = #{lat}
            </if>
            <if test="lng > 0">
                AND LNG = #{lng}
            </if>
            <if test="approval != null and approval != ''">
                AND APPROVAL = #{approval}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

	<sql id="whereSearchSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="brn != null and brn != ''">
                AND BRN = #{brn}
            </if>
            <if test="name != null and name != ''">
                AND NAME LIKE '%${ name }%'
            </if>
            <if test="category != null and category != ''">
                AND CATEGORY = #{category}
            </if>
            <if test="startTime != null and startTime != ''">
               AND DATE_FORMAT(START_TIME, '%H:%i') = DATE_FORMAT(#{startTime}, '%H:%i')
            </if>
            <if test="endTime != null and endTime != ''">
            	AND DATE_FORMAT(END_TIME, '%H:%i') = DATE_FORMAT(#{endTime}, '%H:%i')
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
            <if test="lat > 0">
                AND LAT = #{lat}
            </if>
            <if test="lng > 0">
                AND LNG = #{lng}
            </if>
            <if test="approval != null and approval != ''">
                AND APPROVAL = #{approval}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>
	
    <select id="count" parameterType="kr.co.fos.foodtruck.Foodtruck" resultType="int">
        SELECT COUNT(*)
        FROM FOODTRUCK
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.foodtruck.Foodtruck" resultMap="foodtruckResultMap">
	    SELECT
	        NO,
	        MEMBER_NO,
	        BRN,
	        NAME,
	        CATEGORY,
	        DATE_FORMAT(START_TIME, '%H:%i') AS START_TIME,
	        DATE_FORMAT(END_TIME, '%H:%i') AS END_TIME,
	        CONTENT,
	        LAT,
	        LNG,
	        APPROVAL,
	        STATUS
	    FROM FOS.FOODTRUCK
	    <include refid="whereSearchSql" />
    </select>

	<select id="listLocation" parameterType="kr.co.fos.foodtruck.Foodtruck" resultMap="foodtruckResultMap">
		SELECT *
		FROM FOS.FOODTRUCK
		HAVING 	(6371*ACOS(COS(RADIANS(#{lat}))*COS(RADIANS(LAT))*COS(RADIANS(LNG)
				-RADIANS(#{lng}))+sin(RADIANS(lat))*sin(RADIANS(LAT)))) &lt;= 0.3
		ORDER BY (6371*ACOS(COS(RADIANS(#{lat}))*COS(RADIANS(LAT))*COS(RADIANS(LNG)
				-RADIANS(#{lng}))+SIN(RADIANS(#{lat}))*SIN(RADIANS(LAT)))) 
		LIMIT 0,300;
    </select>

    <select id="select" parameterType="kr.co.fos.foodtruck.Foodtruck" resultMap="foodtruckResultMap">
        SELECT
            NO,
            MEMBER_NO,
            BRN,
            NAME,
            CATEGORY,
            DATE_FORMAT(START_TIME, '%H:%i') AS START_TIME,
	        DATE_FORMAT(END_TIME, '%H:%i') AS END_TIME,
            CONTENT,
            LAT,
            LNG,
            APPROVAL,
            STATUS
        FROM foodtruck
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="kr.co.fos.foodtruck.Foodtruck">
        INSERT INTO foodtruck (
            NO,
            MEMBER_NO,
            BRN,
            NAME,
            CATEGORY,
            DATE_FORMAT(START_TIME, '%H:%i') AS START_TIME,
	        DATE_FORMAT(END_TIME, '%H:%i') AS END_TIME,
            CONTENT,
            LAT,
            LNG,
            APPROVAL,
            STATUS
        ) VALUES (
            #{no},
            #{memberNo},
            #{brn},
            #{name},
            #{category},
            DATE_FORMAT(#{startTime}, '%H:%i'),
            DATE_FORMAT(#{endTime}, '%H:%i'),
            #{content},
            #{lat},
            #{lng},
            #{approval},
            #{status}
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.foodtruck.Foodtruck">
        UPDATE foodtruck
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="memberNo != ''">
                MEMBER_NO = #{memberNo},
            </if>
            <if test="brn != ''">
                BRN = #{brn},
            </if>
            <if test="name != ''">
                NAME = #{name},
            </if>
            <if test="category != ''">
                CATEGORY = #{category},
            </if>
            <if test="startTime != ''">
            	DATE_FORMAT(START_TIME, '%H:%i') = DATE_FORMAT(#{startTime}, '%H:%i'),
            </if>
            <if test="endTime != ''">
            	DATE_FORMAT(END_TIME, '%H:%i') = DATE_FORMAT(#{endTime}, '%H:%i')
            </if>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
            <if test="lat > 0">
                LAT = #{lat},
            </if>
            <if test="lng > 0">
                LNG = #{lng},
            </if>
            <if test="approval != ''">
                APPROVAL = #{approval},
            </if>
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="kr.co.fos.foodtruck.Foodtruck">
        DELETE FROM foodtruck
        <include refid="whereSql" />
    </delete>
</mapper>