<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.menu.MenuMapper">
    <resultMap id="menuResultMap" type="kr.co.fos.menu.Menu">
        <result column="NO" property="no" />
        <result column="FOODTRUCK_NO" property="foodtruckNo" />
        <result column="NAME" property="name" />
        <result column="AMOUNT" property="amount" />
        <result column="COOKING_TIME" property="cookingTime" />
        <result column="CONTENT" property="content" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="foodtruckNo != null and foodtruckNo != ''">
                AND FOODTRUCK_NO = #{foodtruckNo}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="amount != null and amount != ''">
                AND AMOUNT = #{amount}
            </if>
            <if test="cookingTime != null and cookingTime != ''">
                AND COOKING_TIME = #{cookingTime}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.menu.Menu" resultType="int">
        SELECT COUNT(*)
        FROM menu
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.menu.Menu" resultMap="menuResultMap">
        SELECT *
        FROM (
            SELECT
                NO,
                FOODTRUCK_NO,
                NAME,
                AMOUNT,
                COOKING_TIME,
                CONTENT
            FROM menu
            <include refid="whereSql" />
        ) TB
        <where>
            <if test="itemStart > -1">
                RN BETWEEN (#{itemStart} + 1)
                       AND (#{itemStart} + #{itemSizePerPage})
            </if>
        </where>
    </select>

    <select id="select" parameterType="kr.co.fos.menu.Menu" resultMap="menuResultMap">
        SELECT
            NO,
            FOODTRUCK_NO,
            NAME,
            AMOUNT,
            COOKING_TIME,
            CONTENT
        FROM menu
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="kr.co.fos.menu.Menu">
        INSERT INTO menu (
            NO,
            FOODTRUCK_NO,
            NAME,
            AMOUNT,
            COOKING_TIME,
            CONTENT
        ) VALUES (
            #{no},
            #{foodtruckNo},
            #{name},
            #{amount},
            #{cookingTime},
            #{content}
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.menu.Menu">
        UPDATE menu
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="foodtruckNo != ''">
                FOODTRUCK_NO = #{foodtruckNo},
            </if>
            <if test="name != ''">
                NAME = #{name},
            </if>
            <if test="amount != ''">
                AMOUNT = #{amount},
            </if>
            <if test="cookingTime != ''">
                COOKING_TIME = #{cookingTime},
            </if>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="kr.co.fos.menu.Menu">
        DELETE FROM menu
        <include refid="whereSql" />
    </delete>
</mapper>