<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.menu.OptionMapper">
    <resultMap id="optionResultMap" type="kr.co.fos.menu.Option">
        <result column="NO" property="no" />
        <result column="MENU_NO" property="menuNo" />
        <result column="OPTION_NAME" property="optionName" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="menuNo != null and menuNo != ''">
                AND MENU_NO = #{menuNo}
            </if>
            <if test="optionName != null and optionName != ''">
                AND OPTION_NAME = #{optionName}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.menu.Option" resultType="int">
        SELECT COUNT(*)
        FROM option
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.menu.Option" resultMap="optionResultMap">
            SELECT
                NO,
                MENU_NO,
                OPTION_NAME
            FROM FOS.OPTION
            <include refid="whereSql" />
    </select>

    <select id="select" parameterType="kr.co.fos.menu.Option" resultMap="optionResultMap">
        SELECT
            NO,
            MENU_NO,
            OPTION_NAME
        FROM option
        <include refid="whereSql" />
    </select>

	<insert id="insert" parameterType="kr.co.fos.menu.Option">
		INSERT INTO FOS.OPTION (
			NO,
			MENU_NO,
			OPTION_NAME
		) VALUES (
			#{no},
			#{menuNo},
			#{optionName}
		)
		<selectKey resultType="int" keyProperty="no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>

    <update id="update" parameterType="kr.co.fos.menu.Option">
        UPDATE option
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="menuNo != ''">
                MENU_NO = #{menuNo},
            </if>
            <if test="optionName != ''">
                OPTION_NAME = #{optionName},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="kr.co.fos.menu.Option">
        DELETE FROM option
        <include refid="whereSql" />
    </delete>
</mapper>