<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.order.OrderMapper">
    <resultMap id="orderResultMap" type="kr.co.fos.order.Order">
        <result column="NO" property="no" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="FOODTRUCK_NO" property="foodtruckNo" />
        <result column="RECEPTION_NO" property="receptionNo" />
        <result column="ORDER_TIME" property="orderTime" />
        <result column="TOTAL_AMOUNT" property="totalAmount" />
        <result column="PAYMENT_TYPE" property="paymentType" />
        <result column="STATUS" property="status" />
        <result column="LAT" property="lat" />
        <result column="LNG" property="lng" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="foodtruckNo != null and foodtruckNo != ''">
                AND FOODTRUCK_NO = #{foodtruckNo}
            </if>
            <if test="receptionNo != null and receptionNo != ''">
                AND RECEPTION_NO = #{receptionNo}
            </if>
            <if test="orderTime != null and orderTime != ''">
                AND DATE_FORMAT(ORDER_TIME, '%Y-%m-%d %I:%i:%s') = DATE_FORMAT(#{orderTime}, '%Y-%m-%d %I:%i:%s')
            </if>
            <if test="totalAmount != null and totalAmount != ''">
                AND TOTAL_AMOUNT = #{totalAmount}
            </if>
            <if test="paymentType != null and paymentType != ''">
                AND PAYMENT_TYPE = #{paymentType}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
            <if test="lat > 0">
                AND LAT = #{lat}
            </if>
            <if test="lng > 0">
                AND LNG = #{lng}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.order.Order" resultType="int">
        SELECT COUNT(*)
        FROM order
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.order.Order" resultMap="orderResultMap">
        SELECT *
        FROM fos.order
            <include refid="whereSql" />
    </select>

    <select id="select" parameterType="kr.co.fos.order.Order" resultMap="orderResultMap">
        SELECT
            NO,
            MEMBER_NO,
            FOODTRUCK_NO,
            RECEPTION_NO,
            DATE_FORMAT(ORDER_TIME, '%Y-%m-%d %I:%i:%s'),
            TOTAL_AMOUNT,
            PAYMENT_TYPE,
            STATUS,
            LAT,
            LNG
        FROM order
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="kr.co.fos.order.Order">
        INSERT INTO order (
            NO,
            MEMBER_NO,
            FOODTRUCK_NO,
            RECEPTION_NO,
            ORDER_TIME,
            TOTAL_AMOUNT,
            PAYMENT_TYPE,
            STATUS,
            LAT,
            LNG
        ) VALUES (
            #{no},
            #{memberNo},
            #{foodtruckNo},
            #{receptionNo},
            DATE_FORMAT(#{orderTime}, '%Y-%m-%d %I:%i:%s'),
            #{totalAmount},
            #{paymentType},
            #{status},
            #{lat},
            #{lng}
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.order.Order">
        UPDATE fos.order
        <set>
            <if test="no > 0">
                NO = #{no},
            </if>
            <if test="memberNo > 0">
                MEMBER_NO = #{memberNo},
            </if>
            <if test="foodtruckNo > 0">
                FOODTRUCK_NO = #{foodtruckNo},
            </if>
            <if test="receptionNo > 0">
                RECEPTION_NO = #{receptionNo},
            </if>
            <if test="orderTime != null">
                ORDER_TIME = DATE_FORMAT(#{orderTime}, '%Y-%m-%d %I:%i:%s'),
            </if>
            <if test="totalAmount != null">
                TOTAL_AMOUNT = #{totalAmount},
            </if>
            <if test="paymentType != null">
                PAYMENT_TYPE = #{paymentType},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="lat > 0">
                LAT = #{lat},
            </if>
            <if test="lng > 0">
                LNG = #{lng},
            </if>
        </set>
        WHERE NO = #{no}
    </update>

    <delete id="delete" parameterType="kr.co.fos.order.Order">
        DELETE FROM order
        <include refid="whereSql" />
    </delete>
</mapper>