<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.photo.PhotoMapper">
    <resultMap id="photoResultMap" type="kr.co.fos.photo.Photo">
        <result column="NO" property="no" />
        <result column="TYPE_NUMBER" property="typeNumber" />
        <result column="PHYSICAL_NAME" property="physicalName" />
        <result column="LOGICAL_NAME" property="logicalName" />
        <result column="TYPE" property="type" />
        <result column="PATH" property="path" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="typeNumber != null and typeNumber != ''">
                AND TYPE_NUMBER = #{typeNumber}
            </if>
            <if test="physicalName != null and physicalName != ''">
                AND PHYSICAL_NAME = #{physicalName}
            </if>
            <if test="logicalName != null and logicalName != ''">
                AND LOGICAL_NAME = #{logicalName}
            </if>
            <if test="type != null and type != ''">
                AND TYPE = #{type}
            </if>
            <if test="path != null and path != ''">
                AND PATH = #{path}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.photo.Photo" resultType="int">
        SELECT COUNT(*)
        FROM photo
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.photo.Photo" resultMap="photoResultMap">
        SELECT *
        FROM (
            SELECT
                NO,
                TYPE_NUMBER,
                PHYSICAL_NAME,
                LOGICAL_NAME,
                TYPE,
                PATH
            FROM photo
            <include refid="whereSql" />
        ) TB
        <where>
            <if test="itemStart > -1">
                RN BETWEEN (#{itemStart} + 1)
                       AND (#{itemStart} + #{itemSizePerPage})
            </if>
        </where>
    </select>

    <select id="select" parameterType="kr.co.fos.photo.Photo" resultMap="photoResultMap">
        SELECT
            NO,
            TYPE_NUMBER,
            PHYSICAL_NAME,
            LOGICAL_NAME,
            TYPE,
            PATH
        FROM photo
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="kr.co.fos.photo.Photo">
        INSERT INTO photo (
            NO,
            TYPE_NUMBER,
            PHYSICAL_NAME,
            LOGICAL_NAME,
            TYPE,
            PATH
        ) VALUES (
            #{no},
            #{typeNumber},
            #{physicalName},
            #{logicalName},
            #{type},
            #{path}
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.photo.Photo">
        UPDATE photo
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="typeNumber != ''">
                TYPE_NUMBER = #{typeNumber},
            </if>
            <if test="physicalName != ''">
                PHYSICAL_NAME = #{physicalName},
            </if>
            <if test="logicalName != ''">
                LOGICAL_NAME = #{logicalName},
            </if>
            <if test="type != ''">
                TYPE = #{type},
            </if>
            <if test="path != ''">
                PATH = #{path},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="kr.co.fos.photo.Photo">
        DELETE FROM photo
        <include refid="whereSql" />
    </delete>
</mapper>