<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.review.ReviewMapper">
    <resultMap id="reviewResultMap" type="kr.co.fos.review.Review">
        <result column="NO" property="no" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="FOODTRUCK_NO" property="foodtruckNo" />
        <result column="GRADE" property="grade" />
        <result column="CONTENT" property="content" />
        <result column="REGIST_DATE" property="registDate" />
        <result column="ID" property="id" />
    </resultMap>

    <sql id="whereSql">
        <where> 
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="foodtruckNo != null and foodtruckNo != ''">
                AND FOODTRUCK_NO = #{foodtruckNo}
            </if>
            <if test="grade != null and grade != ''">
                AND GRADE = #{grade}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
           <!--  <if test="registDate != null and registDate != ''">
                AND DATE_FORMAT(REGIST_DATE, '%Y-%m-%d %I:%i:%s') = DATE_FORMAT(#{registDate}, '%Y-%m-%d %I:%i:%s')
            </if> -->
            <if test="registDate != null and registDate != ''">
                AND REGIST_DATE = #{registDate}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.review.Review" resultType="int">
        SELECT COUNT(*)
        FROM review
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.review.Review" resultMap="reviewResultMap">
    	SELECT
            R.NO NO,
            R.MEMBER_NO MEMBER_NO,
            M.ID ID,
            R.FOODTRUCK_NO FOODTRUCK_NO,
            R.GRADE GRADE,
            R.CONTENT CONTENT,
            R.REGIST_DATE REGIST_DATE
        FROM REVIEW R, MEMBER M
        <where> 
        	R.MEMBER_NO = M.NO  
            <if test="no != null and no != ''">
                AND R.NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND R.MEMBER_NO = #{memberNo}
            </if>
            <if test="foodtruckNo != null and foodtruckNo != ''">
                AND R.FOODTRUCK_NO = #{foodtruckNo}
            </if>
            <if test="grade != null and grade != ''">
                AND R.GRADE = #{grade}
            </if>
            <if test="content != null and content != ''">
                AND R.CONTENT = #{content}
            </if>
          
            <if test="registDate != null and registDate != ''">
                AND R.REGIST_DATE = #{registDate}
            </if>
        </where>
    </select>

    <select id="select" parameterType="kr.co.fos.review.Review" resultMap="reviewResultMap">
        SELECT
            NO,
            MEMBER_NO,
            FOODTRUCK_NO,
            GRADE,
            CONTENT,
            REGIST_DATE
        FROM REVIEW
        <where> 
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="foodtruckNo != null and foodtruckNo != ''">
                AND FOODTRUCK_NO = #{foodtruckNo}
            </if>
            <if test="grade != null and grade != ''">
                AND GRADE = #{grade}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
          
            <if test="registDate != null and registDate != ''">
                AND REGIST_DATE = #{registDate}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="kr.co.fos.review.Review">
        INSERT INTO review (
            NO,
            MEMBER_NO,
            FOODTRUCK_NO,
            GRADE,
            CONTENT,
            REGIST_DATE
        ) VALUES (
            #{no},
            #{memberNo},
            #{foodtruckNo},
            #{grade},
            #{content},
            NOW()
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.review.Review">
        UPDATE review
        <set>
            <if test="memberNo != ''">
                MEMBER_NO = #{memberNo},
            </if>
            <if test="foodtruckNo != ''">
                FOODTRUCK_NO = #{foodtruckNo},
            </if>
            <if test="grade != ''">
                GRADE = #{grade},
            </if>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
            <if test="registDate != ''">
                REGIST_DATE = NOW()
            </if>
        </set>
        <where>
        	NO = #{no}
       	</where>
    </update>

    <delete id="delete" parameterType="kr.co.fos.review.Review">
        DELETE FROM review
        <include refid="whereSql" />
    </delete>
</mapper>