<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.fos.FoodtruckMapper">
    <resultMap id="foodtruckResultMap" type="kr.co.fos.Foodtruck">
        <result column="NO" property="no" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="BRN" property="brn" />
        <result column="NAME" property="name" />
        <result column="CATEGORY" property="category" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="CONTENT" property="content" />
        <result column="LAT" property="lat" />
        <result column="LNG" property="lng" />
        <result column="APPROVAL" property="approval" />
        <result column="STATUS" property="status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="brn != null and brn != ''">
                AND BRN = #{brn}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="category != null and category != ''">
                AND CATEGORY = #{category}
            </if>
            <if test="startTime != null and startTime != ''">
                AND START_TIME = #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND END_TIME = #{endTime}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
            <if test="lat > 0">
                AND LAT = #{lat}
            </if>
            <if test="lng > 0">
                AND LNG = #{lng}
            </if>
            <if test="approval != null and approval != ''">
                AND APPROVAL = #{approval}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="kr.co.fos.Foodtruck" resultType="int">
        SELECT COUNT(*)
        FROM foodtruck
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="kr.co.fos.Foodtruck" resultMap="foodtruckResultMap">
        SELECT *
        FROM (
            SELECT
                NO,
                MEMBER_NO,
                BRN,
                NAME,
                CATEGORY,
                START_TIME,
                END_TIME,
                CONTENT,
                LAT,
                LNG,
                APPROVAL,
                STATUS
            FROM foodtruck
            <include refid="whereSql" />
        ) TB
        <where>
            <if test="itemStart > -1">
                RN BETWEEN (#{itemStart} + 1)
                       AND (#{itemStart} + #{itemSizePerPage})
            </if>
        </where>
    </select>

    <select id="select" parameterType="kr.co.fos.Foodtruck" resultMap="foodtruckResultMap">
        SELECT
            NO,
            MEMBER_NO,
            BRN,
            NAME,
            CATEGORY,
            START_TIME,
            END_TIME,
            CONTENT,
            LAT,
            LNG,
            APPROVAL,
            STATUS
        FROM foodtruck
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="kr.co.fos.Foodtruck">
        INSERT INTO foodtruck (
            NO,
            MEMBER_NO,
            BRN,
            NAME,
            CATEGORY,
            START_TIME,
            END_TIME,
            CONTENT,
            LAT,
            LNG,
            APPROVAL,
            STATUS
        ) VALUES (
            #{no},
            #{memberNo},
            #{brn},
            #{name},
            #{category},
            #{startTime},
            #{endTime},
            #{content},
            #{lat},
            #{lng},
            #{approval},
            #{status}
        )
    </insert>

    <update id="update" parameterType="kr.co.fos.Foodtruck">
        UPDATE foodtruck
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="memberNo != ''">
                MEMBER_NO = #{memberNo},
            </if>
            <if test="brn != ''">
                BRN = #{brn},
            </if>
            <if test="name != ''">
                NAME = #{name},
            </if>
            <if test="category != ''">
                CATEGORY = #{category},
            </if>
            <if test="startTime != ''">
                START_TIME = #{startTime},
            </if>
            <if test="endTime != ''">
                END_TIME = #{endTime},
            </if>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
            <if test="lat > 0">
                LAT = #{lat},
            </if>
            <if test="lng > 0">
                LNG = #{lng},
            </if>
            <if test="approval != ''">
                APPROVAL = #{approval},
            </if>
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="kr.co.fos.Foodtruck">
        DELETE FROM foodtruck
        <include refid="whereSql" />
    </delete>
</mapper>